.TituloItem{
    color: #85333f;
    font-size: large;
    font-weight: 400;
}
.PrecioItem{
    color: #85333f;
    font-size: smaller;
    font-weight: 400;
}

li{
    list-style: none;
    margin-left: 10%;
}