.header1{
    background-color: #85333f;  
    letter-spacing: 2.5px;
    color: #bf9d73;
    /* position: fixed; */
    width: 100%;
    z-index: 10;
    }
.header1 img {
        width: 220px;
        margin-left: 30px;
      }
     .nav-link {
      color: #bf9d73;
       font-weight: 600;
       font-size: x-large;
  }
  
  .HCarrito{
    font-size: xx-large;
    color: #bf9d73;
  }
  .HColorP{
    color: #85333f;
    font-size: large;
    font-weight: 400;
  }

  .dropdown-item{
     color: #85333f;
     list-style: none;
     
  }

  .Hcarritocount{
    border-radius: 20px;
      background-color: #bf9d73;
     width:  20px;
     height: 30px;
     text-align: center;
    }
    
    .cart-widget-amount {
      font-size: 11px;
      position: absolute;
      top: 35px;
      right: 5px;
      border-radius: 50%;
      height: 18px;
      width: 22px;
      display: flex;
      /* align-items: center; */
      justify-content: center;
      /* border-radius: 20px; */
      background-color: #bf9d73;
     /* width:  15px;
     height: 15px; */
     /* text-align: center; */
     color: #85333f;
  }